[submodule "home/.zprezto/modules/history-substring-search/external"]
	path = home/.zprezto/modules/history-substring-search/external
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "home/.zprezto/modules/syntax-highlighting/external"]
	path = home/.zprezto/modules/syntax-highlighting/external
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.zprezto/modules/completion/external"]
	path = home/.zprezto/modules/completion/external
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "home/.zprezto/modules/prompt/external/powerline"]
	path = home/.zprezto/modules/prompt/external/powerline
	url = https://github.com/davidjrice/prezto_powerline.git
[submodule "home/.zprezto/modules/prompt/external/agnoster"]
	path = home/.zprezto/modules/prompt/external/agnoster
	url = https://github.com/agnoster/agnoster-zsh-theme.git
[submodule "home/.zprezto/modules/prompt/functions/pure"]
	path = home/.zprezto/modules/prompt/external/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "home/.zprezto/modules/autosuggestions/external"]
	path = home/.zprezto/modules/autosuggestions/external
	url = https://github.com/tarruda/zsh-autosuggestions
